altgraph==0.14
asn1crypto==0.23.0
bdist-mpkg==0.5.0
bonjour-py==0.3
cffi==1.11.1
cryptography==2.0.3
cycler==0.10.0
enum34==1.1.6
functools32==3.2.3.post2
idna==2.6
ipaddress==1.0.18
macholib==1.8
matplotlib==2.0.2
modulegraph==0.15
numpy==1.13.3
py2app==0.14
pycparser==2.18
pyobjc-core==4.0
pyobjc-framework-Accounts==4.0
pyobjc-framework-AddressBook==4.0
pyobjc-framework-AppleScriptKit==4.0
pyobjc-framework-AppleScriptObjC==4.0
pyobjc-framework-Automator==4.0
pyobjc-framework-CFNetwork==4.0
pyobjc-framework-Cocoa==4.0
pyobjc-framework-Collaboration==4.0
pyobjc-framework-CoreData==4.0
pyobjc-framework-CoreLocation==4.0
pyobjc-framework-CoreText==4.0
pyobjc-framework-DictionaryServices==4.0
pyobjc-framework-EventKit==4.0
pyobjc-framework-ExceptionHandling==4.0
pyobjc-framework-FSEvents==4.0
pyobjc-framework-InputMethodKit==4.0
pyobjc-framework-InstallerPlugins==4.0
pyobjc-framework-InstantMessage==4.0
pyobjc-framework-LatentSemanticMapping==4.0
pyobjc-framework-LaunchServices==4.0
pyobjc-framework-Message==4.0
pyobjc-framework-OpenDirectory==4.0
pyobjc-framework-PreferencePanes==4.0
pyobjc-framework-PubSub==4.0
pyobjc-framework-QTKit==4.0
pyobjc-framework-Quartz==4.0
pyobjc-framework-ScreenSaver==4.0
pyobjc-framework-ScriptingBridge==4.0
pyobjc-framework-SearchKit==4.0
pyobjc-framework-ServiceManagement==4.0
pyobjc-framework-Social==4.0
pyobjc-framework-SyncServices==4.0
pyobjc-framework-SystemConfiguration==4.0
pyobjc-framework-WebKit==4.0
pyOpenSSL==17.3.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.2
scipy==0.19.1
six==1.11.0
subprocess32==3.2.7
xattr==0.9.2
zope.interface==4.4.3
