altgraph==0.15
asn1crypto==0.24.0
backports.functools-lru-cache==1.5
bdist-mpkg==0.5.0
beets==1.4.7
bonjour-py==0.3
cffi==1.11.5
cryptography==2.2.2
cycler==0.10.0
enum34==1.1.6
functools32==3.2.3.post2
idna==2.7
ipaddress==1.0.22
jellyfish==0.6.1
kiwisolver==1.0.1
macholib==1.9
matplotlib==2.2.2
modulegraph==0.16
munkres==1.0.12
musicbrainzngs==0.6
mutagen==1.41.1
numpy==1.14.5
py2app==0.14
pycparser==2.18
pyobjc-core==4.2.2
pyobjc-framework-Accounts==4.2.2
pyobjc-framework-AddressBook==4.2.2
pyobjc-framework-AppleScriptKit==4.2.2
pyobjc-framework-AppleScriptObjC==4.2.2
pyobjc-framework-Automator==4.2.2
pyobjc-framework-CFNetwork==4.2.2
pyobjc-framework-Cocoa==4.2.2
pyobjc-framework-Collaboration==4.2.2
pyobjc-framework-CoreData==4.2.2
pyobjc-framework-CoreLocation==4.2.2
pyobjc-framework-CoreText==4.2.2
pyobjc-framework-DictionaryServices==4.2.2
pyobjc-framework-EventKit==4.2.2
pyobjc-framework-ExceptionHandling==4.2.2
pyobjc-framework-FSEvents==4.2.2
pyobjc-framework-InputMethodKit==4.2.2
pyobjc-framework-InstallerPlugins==4.2.2
pyobjc-framework-InstantMessage==4.2.2
pyobjc-framework-LatentSemanticMapping==4.2.2
pyobjc-framework-LaunchServices==4.2.2
pyobjc-framework-Message==4.2.2
pyobjc-framework-OpenDirectory==4.2.2
pyobjc-framework-PreferencePanes==4.2.2
pyobjc-framework-PubSub==4.2.2
pyobjc-framework-QTKit==4.2.2
pyobjc-framework-Quartz==4.2.2
pyobjc-framework-ScreenSaver==4.2.2
pyobjc-framework-ScriptingBridge==4.2.2
pyobjc-framework-SearchKit==4.2.2
pyobjc-framework-ServiceManagement==4.2.2
pyobjc-framework-Social==4.2.2
pyobjc-framework-SyncServices==4.2.2
pyobjc-framework-SystemConfiguration==4.2.2
pyobjc-framework-WebKit==4.2.2
pyOpenSSL==18.0.0
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.4
PyYAML==5.1
scipy==1.1.0
six==1.11.0
subprocess32==3.5.2
Unidecode==1.0.22
xattr==0.9.3
zope.interface==4.5.0
